/* -------------------------------------------------
 * Nextflow config file for assemblator
 * 
 * Thanks to Scilva and the CAW project for the template
 * -------------------------------------------------
 * Should be saved either with Nextflow installation
 * or as file ~/.nextflow/config
 */

process {
  executor = 'slurm'
  cpus = 1
  memory = '8 GB'
  time = '1h'
  queue = 'core'
  clusterOptions = {
    '-A b2016244 -t 24:00:00'
  }
}
