/* -------------------------------------------------
 * Nextflow config file for assemblator
 * 
 * Thanks to Scilva and the CAW project for the template
 * -------------------------------------------------
 * Should be saved either with Nextflow installation
 * or as file ~/.nextflow/config
 */

process {
  executor = 'slurm'
  cpus = 1
  time = '1h'
  maxForks = 50
  clusterOptions = {
        //your acount, you need not change this if you use local executor
        '-A b2016244'
  }


}
